.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--ctp-overlay0);
}

.home-page h2 {
  margin-bottom: 8px;
  color: var(--ctp-subtext1);
}

.home-page p {
  font-size: 0.9rem;
}
